.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins';
    height: 100vh;
    h1 {
        margin-bottom: 1rem;
    }

    p + p {
        margin-top: 1rem;
    }

    @media screen and (max-width:576px) {
        & {
            height: auto;
            margin-top: 8rem;
            margin-bottom: 2rem;
        }
    }
}