* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .container {
        max-width: 1440px;
        width: 80%;
        margin: auto;
    }

    &.night {
        background-color: #171c28;
        color: white;

        nav {
            background-color: white;

            .hamburger {
                span {
                    background-color: #171c28;
                }
            }
            a {
                color: #171c28;
            }

            ul.show-list {
                background-color: white;
                li {
                    a {
                        color: #171c28;
                    }
                }
            }
        }

        header {
            .link-email {
                color: white;

                &::after {
                    border-bottom: 2px solid #bae67e;
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 0px;
    }
}
